<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sản phẩm</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/sidebar.css">

  <style>
    #new-product{
      margin-bottom: 20px;
    }
    .pagination{
      padding-left: 50%;
    }
  </style>
</head>
<body>
<div th:insert="/sidebar :: sidebar"></div>

<div class="content">
  <div th:insert="/navbar :: navbar"></div>
  <h3>Quản lý sản phẩm</h3>
  <a id = "new-product" href="/product/add" class="btn btn-success">Tạo mới</a>
  <table class="table table-bordered table-striped" id="productTable">
    <tr>
      <th>Avatar</th>
      <th>Tên sản phẩm</th>
      <th>Phân loại</th>
      <th>Giá gốc</th>
      <th>Giá khuyến mại</th>
      <th>Trạng thái</th>

    </tr>
    <tr th:each="item, iStat : ${productPage.content}">
<!--    <tr th:each="item : ${products}">-->
      <td><img th:src="${item.avatar}" style="width:150px;height:150px;"></td>
      <td th:text="${item.productName}"></td>
      <td th:text="${item.category.getCategoryName()}"></td>
      <td th:text="${item.price}"></td>
      <td th:text="${item.discount}"></td>
      <td th:if="${item.productStatus} == 0" th:text="'Không khóa'"></td>
      <td th:if="${item.productStatus} == 1" th:text="'Khóa'"></td>

      <td>
        <a th:href="@{/product/edit?id={id}(id=${item.id})}" class="btn btn-primary">Sửa</a>
        <a data-toggle="modal" th:data-target="'#deleteModal-' + ${item.id}" class="btn btn-danger">Xóa</a>
        <div class="modal fade" th:id="'deleteModal-' + ${item.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Xác nhận xóa sản phẩm có id=<span th:text="${item.id}"></span> ?
              </div>
              <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</a>
                <a th:href="@{/product/delete?id={id}(id=${item.id})}" type="button" class="btn btn-danger">Xóa</a>
              </div>
            </div>
          </div>
        </div>

        <!--        <a th:href="@{/product/details?id={id}(id=${item.id})}" class="btn btn-primary">View</a>-->
<!--        <a th:href="@{/cart/add?id={id}(id=${item.id})}" class="btn btn-primary">Add to Cart</a>-->
      </td>
    </tr>
  </table>
  <nav th:if="${productPage.totalPages > 1}" aria-label="...">
    <ul class="pagination justify-content-center">
      <li th:class="${productPage.number == 0} ? 'page-item disabled' : 'page-item'">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li th:class="${pageNumber==productPage.number + 1} ? 'page-item active' : 'page-item'" th:each="pageNumber : ${pageNumbers}">
        <a th:text="${pageNumber}" class="page-link" th:href="${currentUrl} == '/search' ? @{${currentUrl}(keyword=${keyword},size=${productPage.size}, page=${pageNumber})} : @{${currentUrl}(size=${productPage.size}, page=${pageNumber})}"></a>
        <!--                <a th:text="${pageNumber}" class="page-link" th:href="@{${currentUrl}(size=${productPage.size}, page=${pageNumber})}"></a>-->
      </li>

      <li th:class="${productPage.number == productPage.totalPages - 1} ? 'page-item disabled' : 'page-item'">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
  $(document).ready(function() {
    $("#productTable").DataTable({
      pageLength: 2,
      ajax: {
        url: '/product/index'
      },
    });
  })
</script>
</body>
</html>