<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/navbar.css"/>
    <link rel="stylesheet" href="/css/homepage.css"/>
</head>
<body>
    <div th:insert="/client/navbar :: header"></div>
    <div class="wrapper">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://tnj.vn/img/cms/abum-trang-chu/T%C6%B0ng%20B%E1%BB%ABng%20Khai1.png" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        <div class="top-sale">
            <h2>Sản phẩm bán chạy</h2>
            <div class="row">
                <div class="card-deck">
                    <div th:each="product : ${topSale}" class="col-md-3">
                        <div class="card">
                            <img width="300" height="300" loading="lazy" th:src="@{${product.avatar}}" class="card-img-top" alt="Product Image">
                            <div class="card-body text-center">
                                <h5 class="card-title" th:text="${product.productName}"></h5>
                                <!--                        <p class="card-text" th:text="${product.productDescription}"></p>-->
                                <!--                        <a th:href="@{/product/details/{id}(id=${product.id})}" class="btn btn-primary">Details</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-cate-sale">
            <h2>Các loại sản phẩm bán chạy</h2>
            <div class="tab">
                <div th:each="cate : ${topCateSale}" class="col-3">
                    <button class="tablinks" th:text="${cate.categoryName}" th:attr="onclick='openCate(event, \'' + ${#strings.replace(cate.id, ' ', '')} + '\')'"></button>
                </div>
            </div>
            <div th:each="cate : ${topCateSale}">
                <div th:id="${cate.id}" class="tabcontent">
                    <div class="card-columns">
                        <div th:each="product : ${cate.getProducts()}">
                            <div class="card">
                                <img loading="lazy" th:src="@{${product.avatar}}" class="card-img-top" alt="Product Image">
                                <div class="card-body text-center">
                                    <h5 class="card-title" th:text="${product.productName}"></h5>
                                    <!--                        <p class="card-text" th:text="${product.productDescription}"></p>-->
                                    <!--                        <a th:href="@{/product/details/{id}(id=${product.id})}" class="btn btn-primary">Details</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    function openCate(evt, cateName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cateName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
</body>
</html>