<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Phân loại</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>
    <script src="/js/cateForm.js"></script>
<!--    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>-->
    <style>
        form{
            width: 100%
        }
        .form-group{
            margin: 10px;
            width: 80%;
        }
        label.error{
            color: red;
        }

    </style>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6" >
    <div class="col-md-auto">
        <form id="cate-form" th:fragment="cate-form" th:object="${cate}" th:action="@{/category/save}" action="#" method="post">
            <input type="hidden" th:if="${editMode}" th:field="*{id}">
            <div class="form-group">
                <label th:text="'Tên phân loại'" th:for="category_name"></label>
                <input type="text" th:field="*{categoryName}" class="form-control">
            </div>
            <div class="form-group">
                <label th:text="'Mô tả'" th:for="category_description"></label>
                <textarea th:field="*{description}" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label th:text="'Trạng thái'" th:for="category_status"></label>
                <select th:field="*{categoryStatus}">
                    <!--          <option th:each="status : ${allStatus}" th:value="${status}" th:text="${status}"></option>-->
                    <option th:value="0" th:text="'Không khóa'"></option>
                    <option th:value="1" th:text="'Khóa'"></option>
                </select>
            </div>
            <input type="submit" class="btn btn-success" value="Save"/>
        </form>
    </div>
</div>
<!--<script>-->
<!--    tinymce.init({-->
<!--        selector: 'textarea',  // Chọn các thẻ <textarea> để biến chúng thành trình soạn thảo TinyMCE-->
<!--        plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',-->
<!--        toolbar_mode: 'floating',-->
<!--        height: 400-->
<!--    });-->
<!--</script>-->
</body>
</html>